html{
	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	margin: 0;
	background:url(../img/xink.jpg) no-repeat;
	background-size: 100% 100%;
}
ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}
@keyframes teng{
	0%{
		transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
	}
	
	100%{
		transform: rotateY(-360deg) rotateX(0deg) rotateZ(0deg);
	}
}
a{
	text-decoration: none;
	color: #fff;
}
#bgmBox{
	position: absolute;
	left: 0;
	top: 0;
}
#box{
	width: 300px;
	height: 200px;
	margin: 200px auto;
	
	position: relative;
	transform-style: preserve-3d;
	transform-origin: center center -150px;
	transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
	-webkit-animation: teng 30s infinite  backwards linear;
}
li{
	width: 300px;
	height: 300px;
	position: absolute;
	font: bold 30px "微软雅黑";
	text-align: center;
	line-height: 300px;
	perspective: 5000px;
	transform-origin: center;
	transition: 3s;
	backface-visibility: visible;
}
li:nth-of-type(1){
	bottom: 300px;
	transform-origin: bottom;
	/*background: #0066EE;*/
	transform: rotateX(90deg);
}
li:nth-of-type(2){
	right: 300px;
	transform-origin: right;
	transform: rotateY(-90deg);	
	/*background: #008000;*/
	
	
}
li:nth-of-type(3){
	/*background: #16A085;*/
	
}
li:nth-of-type(4){
	left: 300px;
	/*background: #00AA00;*/
	transform-origin: left;
	transform: rotateY(90deg);
}
li:nth-of-type(5){
	top: 300px;
	/*background: #00F0F0;*/
	transform-origin: top;
	transform: rotateX(-90deg);
}
li:nth-of-type(6){
	/*background: #0000F0;*/
	transform: translateZ(-300px);
}
#click{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 800px;
	top: 568px;
	font:bold 20px "微软雅黑";
	border-radius: 40px;
	background: url(../img/timg1.gif) no-repeat;
	background-position: 0 -26px ;
	background-size:200px 100px ;
}
#qU{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 400px;
	top: 568px;
	font:bold 20px "微软雅黑";
	border-radius: 40px;
	background: #e5e5e5;
	background: url(../img/timg1.gif) no-repeat;
	background-position: 0 -26px ;
	background-size:200px 100px ;
}
li>div{
	width: 50px;
	height: 50px;
	transition: 1s;
	position: absolute;
	background-size: 300px 300px;
}
#texT{
	font:bold 20px "微软雅黑";
	color: #FFFFFF;
	position: absolute;
	top: 0px;
	opacity: 1;
}
